#main-hero {
    height: 80vh;
    background-image: url("../../assets/img/hero.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
#main-hero .row {
    height: 80vh;
    align-items: center; }
#main-hero .hero-text h1, #main-hero .hero-text .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 15px 0 0;
    font-weight: 600;
    color: #FFFFFF; }
#main-hero .hero-text h2, #main-hero .hero-text .h2 {
    font-size: 1.2rem;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    padding: 40px 0 0; }
#main-hero .hero-text p {
    font-size: 1.2rem;
    font-weight: 400;
    margin: 0 0 35px;
    padding: 15px 0 0;
    color: #FFFFFF; }
#main-hero .hero-text p a {
    color: #FFFFFF !important;
    text-decoration: none;
    font-weight: 400 !important; }
#main-hero .hero-text p a img {
    height: 11px;
    margin-left: 10px; }
  
#lp-what-we-do {
    padding: 100px 0; }
#lp-what-we-do h3, #lp-what-we-do .h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 40px 0 0;
    padding: 0; }
#lp-what-we-do h2, #lp-what-we-do .h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 50px;
    margin: 0;
    padding: 50px 0 0; }
#lp-what-we-do p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 0;
    line-height: 28px; }
#lp-what-we-do p span {
    font-weight: 500; }
#lp-what-we-do p a {
    color: #DC4D04;
    text-decoration: none;
    font-weight: 400 !important; }
#lp-what-we-do p a img {
    height: 11px;
    margin-left: 10px; }
#lp-what-we-do button {
    background: #DC4D04;
    border: 1px solid #DC4D04;
    margin-top: 30px; }
#lp-what-we-do button:hover {
    background: #F05305;
    border: 1px solid #F05305;
    color: #FFFFFF !important; }
#lp-what-we-do .lp-map {
    width: 450px; }
  
#lp-our-services {
    padding: 40px 0;
    background-image: url("../../assets/img/h1-map1.svg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
#lp-our-services .lp-service-info {
    padding-top: 100px;
    padding-left: 50px; }
#lp-our-services .lp-service-info h2, #lp-our-services .lp-service-info .h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: 50px 0 0; }
#lp-our-services .lp-service-info p {
    font-size: 18px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 0;
    line-height: 30px; }
#lp-our-services .lp-service-info .line {
    width: 60px;
    height: 2px;
    background: #DC4D04;
    margin-top: 40px; }
#lp-our-services .lp-img1 {
    width: 569px;
}
#lp-our-services .lp-img2 {
    width: 457px;
}
#lp-our-services .lp-img3 {
    width: 447px;
}
  
/* #lp-traction {
    background: #282828;
    padding: 50px 0; }
#lp-traction .stats-box {
    text-align: center; }
#lp-traction .stats-box h3, #lp-traction .stats-box .h3 {
    font-size: 22px;
    margin: 0 0 10px;
    padding: 0;
    color: #FFFFFF; }
#lp-traction .stats-box h3 span, #lp-traction .stats-box .h3 span {
    font-size: 16px; }
#lp-traction .stats-box p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-weight: 300;
    color: #FFFFFF; }
#lp-traction .line {
    width: 1.5px;
    height: 60px;
    background: #DC4D04; } */
  
#lp-product {
    padding: 100px 0;
    background: #F9F9F9; }
#lp-product h2, #lp-product .h2 {
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0 0; }
#lp-product p {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 0;
    line-height: 28px; }
#lp-product .product-box {
    position: relative;
    margin-bottom: 25px; }
#lp-product .product-box img {
    width: 100%;
    opacity: 1;
    cursor: pointer; }
#lp-product .product-box img:hover {
    opacity: .85; }
#lp-product .product-box .title-bar {
    width: 100%;
    position: absolute;
    background: rgba(40, 40, 40, 0.7);
    padding: 15px 20px;
    bottom: 0; }
#lp-product .product-box .title-bar h2, #lp-product .product-box .title-bar .h2 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 1.2rem; }
  